 body {
  overflow-x: hidden
 }
.shapka {
  display: grid;
  grid-template-columns: 14% 100px auto 100px 100px 14%;
  grid-template-areas: "border1 logo nav heart bag border2";
  grid-template-rows: 80px;
  align-items: center;
}
.logo {
  grid-area: logo;
  position: relative;
  display: inline-block;
  width: 100px; 
  height: auto;
  justify-self: end;
  margin-top: -80px;
  transform: scale(0.8); 
  transform-origin: right center; 
}
.logo-state {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: opacity 0.2s ease;
  display: block;
}

.logo-hover,
.logo-active {
  opacity: 0;
  pointer-events: none;
}

.logo:hover .logo-hover {
  opacity: 1;
}

.logo:active .logo-active {
  opacity: 1;
  z-index: 2;
}

.icon-shape {
  grid-area: nav;
  position: relative;
  justify-self: flex-start;
  margin-left: 40px;
  display: flex;
  align-items: center;
  height: 100%;
}

.icon-shape img {
  height: 100%;
  object-fit: contain;
  transform: scale(0.95);
   
}

.icon-shape nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  gap: 30px;
  white-space: nowrap;
  z-index: 2;
}

.icon-shape nav img {
  transform: scale(0.8);
  margin-left: -10%;
}

.icon-shape nav a {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  transition: opacity 0.2s;
}

.icon-shape nav a:hover {
  color: rgb(241, 241, 156);
}
.icon-heart {
  grid-area: heart;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
}
.heart-state {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease;
  display: block;
}

.heart-hover,
.heart-active {
  opacity: 0;
  pointer-events: none;
}

.icon-heart:hover .heart-hover {
  opacity: 1;
}

.icon-heart:active .heart-active {
  opacity: 1;
  z-index: 2;
}
.icon-heart:active .heart-hover {
  opacity: 0;
}
.icon-bag {
  grid-area: bag;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
}
.bag-state {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease;
  display: block;
}

.bag-hover,
.bag-active {
  opacity: 0;
  pointer-events: none;
}

.icon-bag:hover .bag-hover {
  opacity: 1;
}

.icon-bag:active .bag-active {
  opacity: 1;
  z-index: 2;
}
.icon-bag:active .bag-hover {
  opacity: 0;
}

h2 {
  position: absolute;
  top: 17%;
  left: 46.5%;
  z-index: 10;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 32px;
}
.shape-block {
  position: absolute;
  top: 20%;
  left: 45%;
  width: 170px;
  height: 50px;
  background: rgba(196,166,236);
  border-radius: 25px;

}
.grid-filter {
  display: grid;
  grid-template-columns: 14% 500px 60px 150px 175px 150px 14%;
  grid-template-areas: "border1 search filter but1 but2 but3 border2";
  grid-template-rows: 160px 80px;
  align-items: center;
}
.icon-search {
  grid-area: search;
  grid-row: 2;
  justify-self: center;
  position: relative;
  display: inline-block;
  width: 430px;  
  height: 300px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  transform-origin: center;

}
.icon-filter {
  grid-area: filter;
  grid-row: 2;
  justify-self: start;
  position: relative;
  display: inline-block;
  width: 60px;   
  height: 60px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  transform-origin: center;
}
.icon-search .search-state,
.icon-filter .filter-state {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease;
  display: block;
}

.icon-search .search-active,
.icon-filter .filter-hover,
.icon-filter .filter-active {
  opacity: 0;
  pointer-events: none;
}

.icon-search:active .search-active {
  opacity: 1;
  z-index: 2;
}
.icon-search:active .search-default {
  opacity: 0;
}

.icon-filter:hover .filter-hover {
  opacity: 1;
}
.icon-filter:active .filter-active {
  opacity: 1;
  z-index: 2;
}
.icon-filter:active .filter-hover {
  opacity: 0;
}
.icon-but1 {
  grid-area: but1;
  grid-row: 2;
  scale: 0.8;
  justify-self: start;
}
.icon-but2 {
  grid-area: but2;
  grid-row: 2;
  scale: 0.8;
  justify-self: start;
}
.icon-but3 {
  grid-area: but3;
  grid-row: 2;
  scale: 0.8;
  justify-self: start;
}
.grid-katalog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
  padding: 20px 14%;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 350px;
}

.card .img-content img {
  width: 100%;
  height: auto;
  max-width: 350px; 
  scale: 0.9;
  display: block;
}
.card .img-content {
  position: relative;
  display: inline-block;
}

.btn-heart-card {
  position: absolute;
  top: 40px;
  left: 250px;
  width: 60px;
  height: 60px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 3;
  outline: none; 
}

.heart-card-state {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease;
  display: block;
}

.card .img-but img {
  scale: 0.8;
}
.btn-kor {
  position: relative;
  display: inline-block;
  width: 380px; 
  height: 70px; 
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none; 
  outline: none;
  transform-origin: center;
}

.kor-state {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease;
  display: block;
}

.kor-hover,
.kor-active {
  opacity: 0;
  pointer-events: none;
}

.btn-kor:hover .kor-hover {
  opacity: 1;
}

.btn-kor:active .kor-active {
  opacity: 1;
  z-index: 2;
}
.btn-kor:active .kor-hover {
  opacity: 0;
}
.grid-footer {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 
      minmax(20px, 1fr)    /* левый отступ */
      minmax(220px, 280px) /* контакты + соцсети */
      minmax(100px, 400px)   /* навигация */
      minmax(20px, 1fr);   /* правый отступ */

  grid-template-rows: auto auto 40px;
  grid-template-areas:
      ". contacts nav-list ."
      ". socials nav-list ."
      ". .        .        .";
  gap: 16px 32px;
  padding: 40px 20px;
  background: rgba(196, 166, 236);
  position: relative;
  z-index: 2;
}

.contacts {
  grid-area: contacts;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: white;
  line-height: 1.5;
}
.contacts p {
  margin: 4px 0;
}

.socials {
  grid-area: socials;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
}
.socials img {
  height: 32px;
  width: auto;
  display: block;
}
.socials a {
  display: inline-block;
}

.nav-list {
  grid-area: nav-list;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px; /* верт. и гориз. отступы */
  justify-content: flex-start;
  align-content: flex-start;
}
.nav-list a {
  color: white;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  white-space: nowrap;
  transition: opacity 0.2s;
}
.nav-list a:hover {
  color: rgb(241, 241, 156);
}

